.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 300;
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu-container {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 16px;
}
.hamburger-menu {
  height: 24px;
  cursor: pointer;
}
.youtube-logo {
  height: 20px;
  cursor: pointer;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 650px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36.5px;
  padding-left: 15px;
  font-size: 16px;
  border: solid 1px rgb(190, 188, 188);
  border-radius: 50px 0 0 50px;
  box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar:focus {
  outline: #247ef4 auto 1px;
  box-shadow: inset 1px 3px 3px rgba(0, 0, 0, 0.05);
  width: 100%;
}
.search-bar::placeholder {
  font-size: 16px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.notifications-icon-container,
.youtube-app-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(244, 241, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  background-color: rgb(232, 232, 232);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip,
.youtube-app-icon-container .tooltip {
  position: absolute;
  background-color: rgb(86, 83, 83);
  color: #ffffff;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 12px;
  bottom: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip {
  opacity: 0.93;
}
.search-icon {
  height: 25px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}
.voice-search-button:hover,
.upload-icon-container:hover,
.youtube-app-icon-container:hover,
.notifications-icon-container:hover,
.hamburger-menu-container:hover {
  background-color: rgb(232, 232, 232);
}
.voice-search-icon {
  height: 24px;
}
.right-section {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 26px;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
  cursor: pointer;
}
.upload-icon-container,
.youtube-app-icon-container,
.notifications-icon-container {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}
.notifications-icon {
  height: 24px;
  cursor: pointer;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: 5px;
  right: 4px;
  background-color: rgb(178, 24, 24);
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 500;
}
.current-user-picture {
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
