.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  border: none;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 14px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(244, 241, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
  margin-left: -1px;
  margin-right: 10px;
}
.search-icon {
  height: 25px;
  margin-top: 4px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(244, 241, 241);
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}
.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon {
  height: 25px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(170, 6, 6);
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 500;
}
.current-user-picture {
  height: 32px;
  border-radius: 50%;
}
