* {
  font-family: Roboto, Arial;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.video-preview {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}
.thumbnail-row {
  margin-bottom: 10px;
}
.thumbnail {
  width: 300px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture {
}
.video-info {
}
.profile-picture {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

.video-stats,
.video-author {
  color: rgb(96, 96, 96);
  font-size: 12px;
}
.video-author {
  margin-bottom: 4px;
}
