* {
  font-family: Roboto, Arial;
  margin: 0;
}
body {
  padding-top: 135px;
  padding-left: 100px;
  padding-right: 24px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 48px;
  left: 100px;
  right: 25px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 12px;
  overflow: hidden;
}
.category {
  font-size: 14px;
  background-color: rgb(230, 230, 230);
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 8px;
  white-space: nowrap;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 550px) and (max-width: 899px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 100px) and (max-width: 549px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.thumbnail {
  width: 100%;
  border-radius: 12px;
}
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.video-stats,
.video-author {
  color: rgb(96, 96, 96);
  font-size: 12px;
}
.video-author {
  margin-bottom: 4px;
}
