.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.footer h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
}
.footer p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.footer .sign-up {
  min-width: 170px;
  margin: 0 -20px 0 20px;
}
.footer button {
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}
.footer button:hover {
  transform: scale(1.05);
  font-weight: 700;
}
